<%- include ../partials/homeheader %>
<head>
  <style>
    .app {
  padding: 2rem;
}

.center {
  margin-top:120px;
  text-align: center;
  height: 100vh;
}

.heading {
  margin: 1rem auto 0 auto;
}

  </style>
  <link rel="stylesheet" href="/stylesheets/emailcheck.css">
</head>

  <!-- Flash messages -->
      <div class="row mt-3 mb-3">
        <div class="col-md-8 m-auto">
          <% if (successMsg) { %>
          <div id="success" class="alert alert-success">
            <%= successMsg %>
          </div>
          <% } else { %>
          <div id="success" class="alert alert-success d-none"></div>
          <% } %>
        </div>
        <div class="col-md-8 m-auto">
          <% if (errorMsg) { %>
          <div id="error" class="alert alert-danger">
            <%= errorMsg %>
          </div>
          <% } else { %>
          <div id="error" class="alert alert-danger d-none"></div>
          <% } %>
        </div>
      </div>
  <!-- User's orders -->

  <div class="center" >
    <%if(!currentUser.profile){%>
    <img height="100px" width="100px"style="margin:0 auto;" src="https://avatars.githubusercontent.com/u/76587897" />
    <%}else{%>
      <img height="100px" width="100px"style="margin:0 auto;border-radius:50%" src="<%=currentUser.profile%> " />
    <%}%>
    <h1 class="heading"><%=currentUser.username%></h1>
    <h4 class="heading"><i class="fa fa-envelope"></i> <%=currentUser.email%> </h4>
    <%if(currentUser.phone){%>
    <h4 class="heading" > <i class="fa fa-phone"></i> <%=currentUser.phone%> </h4>
    <%}%>
    <br>
    <h2 id="projects" class="heading"> ✨ Courses Enrolled ✨</h2>
    <br>
    <hr>
    <br>
    <div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">
   
   <div class="field-cta ">
    <p style="font-weight:600;color: #005a9e;">You haven't enrolled any course</p>
     <a class="acfflex-link algoan-button algoan-button--white algoan-button--size-second " rel="noopener" target="" href="/"> <span></span>Explore Now ! </a></div>
  </div>
    <br>
  </div>
  
 


<%- include ../partials/homefooter %>
