<%- include ../partials/header %>

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    <%=pageName%>
                </button>

            </div>
        </div>
        
        <div class="row isotope-grid" style="position: relative;">
            <% for(let i=0; i<products.length; i++) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women" >
                
                <!-- Block2 -->
                <div class="block2" >
                    <div class="block2-pic hov-img0">
                        <img src="/images/product-05.jpg" alt="IMG-PRODUCT">

                        <a href="/add-to-cart/608e3aa4a5f4c4617cdb2b1b" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                            Add to Cart
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/products/skin/anil/608e3aa4a5f4c4617cdb2b1b" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Esprit Ruffle Shirt
                            </a>

                            <span class="stext-105 cl3">
                                $16.64
                            </span>
                        </div>
              
                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a  class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="removewishlist(`<%=products[i]._id%>`)" >
                                <img class="icon-heart1 dis-block trans-04" src="/images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l"id="love<%=products[i]._id%>"  src="/images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                  
                </div>
            </div>
            <%}%>
           
      
    </div>
 
</div>

</div>
<script>
   
    if(localStorage.getItem('bruhwishitems')!=null)
    var ids=localStorage.getItem('bruhwishitems').split(',');
   
 
</script>
<script>
    (function(){
         var likeditems=(localStorage.getItem('bruhwishitems'));
         console.log(likeditems);
         if(likeditems!=null){
             likeditems.split(",").forEach(element => {
                 console.log(element);
                 if(element.length!==0){
            var love= document.getElementById(`love${element}`);
            love.classList.add('blueheart');
                 }
             
                 
             });
            }
     }());
     function postdata(){
        
        if(localStorage.getItem('bruhwishitems')!=null){
        document.getElementById("datafiles").value=localStorage.getItem('bruhwishitems').split(',');
        console.log( document.getElementById("datafiles").value);
        document.getElementById('wishform').submit();
        }else if(localStorage.getItem('bruhwishitems')==null){
            document.getElementById("datafiles").value='';
            document.getElementById('wishform').submit();
        }
       
      }
     function removewishlist(e){
      
  var likeditems=(localStorage.getItem('bruhwishitems'));
  if(likeditems!==null&&likeditems.split(",").includes(e)){
    var updatedarray=  likeditems.split(",").filter(ele=>{
          if(ele!==e){
              return ele;
          }else{
              document.getElementById(`love${ele}`).classList.remove('blueheart');
          }
      });
      localStorage.setItem('bruhwishitems',updatedarray);
      if(updatedarray.length==0){
          document.getElementById('dot').style.opacity='0';
          localStorage.removeItem('bruhwishitems');
      }
      postdata();
      
  }
  
  
  }

</script>
<%- include ../partials/footer %>